body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(OIP.jpeg);
  }
  
  header {
    background-color: auto;
    color: #fff;
    padding: 20px;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Chat Window Styles */
  .chat-window {
    width: 500px;
    background-color: #fdf9f9;
    border-radius: 9px;
    overflow: hidden;
  }
  
  .chat-area {
    height: 400px;
    overflow-y: scroll;
    padding: 20px;
  }
  
  .chat-messages {
    display: flex;
    flex-direction: column;
  }
  
  .message {
    margin-bottom: 10px;
    background-color: #f1eeee;
    padding: 10px;
    border-radius: 4px;
  }
  
  .user-input {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #e2dede;
  }
  
  #message-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #f7f4f4;
    border-radius: 4px;
  }
  
  #send-button {
    padding: 8px 15px;
    margin-left: 11px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  #send-button:hover {
    background-color: #064c97;
  }